.Cover-photo {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../../../Assets/Gallery/road_truck.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0;
    animation: Slide-up-cover 1s ease 1s 1 normal forwards;
    transform: scale(1.15);
    background-position-y: -10vh;
}

.under-Image {
    position: absolute;
    bottom: 0;
    z-index: 2;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    padding: 0 2.5%;
    color: white;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 0.5fr 5fr 1fr 1.5fr;
    height: 70vh;
    width: 95%;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    animation: Slide-up 1s ease 1s 1 normal forwards;
    transform: translateY(60vh);
    text-align: center;
}

.Contact-heading{
    text-align: center;
    position: relative;
    grid-row: 1;
    grid-column: 1 / span 10;
    font-size: 3.8vh;
    font-weight: bold;
    color: var(--main-yellow);
    justify-self: center;
    align-self: flex-end;
}

.Main-div{
    border: solid 0.2vh var(--main-yellow);
    border-radius: 2vh;
    grid-column: 1 / span 10 ;
    grid-row:3 / 5;
}

.Notes{
    grid-column: 1 / span 10 ;
    grid-row: 5 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.Notes span{
    display: flex;
    color: #fff;
    flex-direction: column;
    /* border: 1px solid white; */
    text-align: left;
    justify-content: center;
    line-height: 2.5vh;
    margin: 0;
    font-weight: bold;
}