.Cover-photo {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../../../Assets/Gallery/road_truck.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0;
    animation: Slide-up-cover 1s ease 1s 1 normal forwards;
    transform: scale(1.15);
    background-position-y: -40vh;
}

.under-Image {
    position: absolute;
    bottom: 0;
    z-index: 2;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    padding: 0 2.5%;
    color: white;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 2fr 2.5fr 2fr 12fr;
    height: 70vh;
    width: 95%;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    animation: Slide-up 1s ease 1s 1 normal forwards;
    transform: translateY(60vh);
}