.Cover-photo-price {
    cursor: pointer;
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../../../Assets/Gallery/road_truck.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    animation: Slide-up-cover-price 1s ease 0.2s 1 normal forwards;
    transform: scale(1.15);
    background-position-y: -20vh;
}


/* POD OBRÁZKEM */

.under-Image {
    position: absolute;
    bottom: 0;
    z-index: 2;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    padding: 0 2.5%;
    color: white;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 0.5fr 5fr 1fr 1.5fr;
    height: 70vh;
    width: 95%;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    animation: Slide-up-price 1s ease 0.2s 1 normal forwards;
    transform: translateY(60vh);
    text-align: center;
}

@keyframes Slide-up-price {
    0% {}
    100% {transform: translateY(0);}
}

@keyframes Slide-up-cover-price {
    0% {}
    100% {transform: scale(1); background-position-y: -55vh;}
}

.Contact-heading{
    text-align: center;
    position: relative;
    grid-row: 1;
    grid-column: 1 / span 10;
    font-size: 3.8vh;
    font-weight: bold;
    color: var(--main-yellow);
    justify-self: center;
    align-self: flex-end;
}

.Main-div{
    border: solid 0.2vh var(--main-yellow);
    border-radius: 2vh;
    grid-column: 1 / span 10 ;
    grid-row:3 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.right{
    border-left: solid 0.2vh var(--main-yellow);
    grid-column: 2/2;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.right p{
    
   margin: auto 2vh auto;
   text-align: left;
}


/* KALKULAČKA */


.calc{
    display: flex;
    flex-direction: column;
    border-bottom:  solid 0.2vh var(--main-yellow);
    flex-grow: 4;
}

.výběr{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 13fr 1fr;
}
.roleta{
    position: relative;
    border: solid 0.2vh var(--main-yellow);
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-content: center;
}
.roleta span{
    font-weight: bold;
    font-size: 2vh;
    color: var(--main-yellow);
    flex-grow: 2;
}
#dd{
    display: table;
    height: fit-content;
    position: absolute;
    width: 100%;
    top: 100%;
}

#dd div{
    position: top;
    border: solid 0.2vh var(--main-yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4vh;
    font-weight: bold;
    font-size: 2vh;
    color: var(--main-yellow);
}
#dd div:hover{
    background-color: var(--main-yellow);
    cursor: pointer;
    color: black;
}

.arrow{
    background: url(/src/Assets/Arrow.svg);
    height: 2.3vh;
    width: 3.6vh;
    background-repeat: no-repeat;
    background-size: fill;
    position: center;
    cursor: pointer;
    flex-grow: 0.1;
}

.Chosen{
    width: 100%;
    flex-grow: 2;
}
.komplet{
    width: 100%;
    flex-grow: 15;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.parametr{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    align-items: flex-start;
}
.parametr span{
    color: var(--main-yellow);
}
.obrátka,
.náklad,
.mkm{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}
.délka,
.objem,
.dny,
.hodiny{
flex-grow: 0.17;
}

.cena{
    flex-grow: 0.15;
}
.zadání-obrátka,
.zadání-náklad{
    display: flex;
    flex-grow: 0.4;
    justify-content: center;
    align-items: center;
}
.přepočet{
    flex-grow: 0.41;
}

.plus{
    background: url(../../../Assets/Plus.svg);
    height: 2.3vh;
    width: 2.5vh;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
}
.minus{
    background: url(../../../Assets/Minus.svg);
    height: 2.3vh;
    width: 2.5vh;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
}

.tlačítko{
    margin: 2% auto;
    padding: 2% 4%;
    background-color: var(--main-yellow);
    border-radius: 0.5vh;
    cursor: pointer;
}
.tlačítko span{
    color: black;
    font-size: xx-large;
    font-weight: bold;
}

/*sklizňová doprava*/
.wrap{
    width: 100%;
    height: 100%;
    display: flex;
}

.result{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.result span:first-child{
    color: var(--main-yellow);
    font-size: x-large;
    font-weight: bold;
}
.result span:last-child{
    grid-column: 3;
    font-size: 4vh;
    font-weight: bold;
    color: var(--main-yellow);
}

.zadání-dny,
.zadání-hodiny{
    display: flex;
    flex-grow: 0.35;
    justify-content: center;
    align-items: center;
}

table{
    width: 100%;
    height: 100%;
    margin: auto 0;
}



@keyframes Slide-up-price {
    0% {}
    100% {transform: translateY(0);}
}

@keyframes Slide-up-cover-price {
    0% {}
    100% {transform: scale(1); background-position-y: -65vh;}
}


/* POZNÁMKY */

.Notes{
    grid-column: 1 / span 10 ;
    grid-row: 5 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.Notes span{
    display: flex;
    color: #fff;
    flex-direction: column;
    /* border: 1px solid white; */
    text-align: left;
    justify-content: center;
    line-height: 2.5vh;
    margin: 0;
    font-weight: bold;
}

@keyframes Slide-up-price {
    0% {}
    100% {transform: translateY(0);}
}

@keyframes Slide-up-cover-price {
    0% {}
    100% {transform: scale(1); background-position-y: -55vh;}
}
