/*
Udělej to pls jako grid, to bude nejpřesnější ;) - jinak písmo jsem dal relativní, aby se nezoomovalo a zoomovací bych udělal jen obsah
*/

.Menu {
    background-color: black;
    width: 30em;
    height: 100%;
    position: fixed; /* Toto jsem dal fixed, aby pod tím nevznikal bílej scrollovací prostor */
    top: 0;
    left: 0;
    color: #cfb53c;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.Big-logo {
    margin: 10% auto;
    height: 17.5%;
    background-image: url('../../Assets/BIG_LOGO.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

p {
    font-weight: normal;
    font-size: 2vh;
    opacity: 80%;
}
span{
    color: white;
}

img {
    margin: 10%;
    max-width: 100%;
}

nav {
    margin: 10%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: space-around;
    min-width: 100px;
}

nav div {
    font-size: 4.5vh;
}

footer {
    margin: 20%;
    
}

.phone,
.instagram {
    padding: 10%;
}
