/*
Udělej to pls jako grid, to bude nejpřesnější ;) - jinak písmo jsem dal relativní, aby se nezoomovalo a zoomovací bych udělal jen obsah
*/

.Menu {
    background-color: black;
    width: calc(50vh - 0.1vh); /* Subtracting border */
    height: 100%;
    position: fixed; /* Toto jsem dal fixed, aby pod tím nevznikal bílej scrollovací prostor */
    top: 0;
    left: 0;
    color: #cfb53c;
    text-align: center;
    z-index: 3;
}

@media screen and (max-width: 100vh) {
    .Menu {
        left: unset;
        right: 0;
        bottom: 0;
        max-width: 90%;
        background-color: #111;
    }
}

.Shit {
    color: #a57655;
    font-size: 1.3vh;
    font-family: Libre Backerville;
    letter-spacing: 0.9vh;
}

@media screen and (max-width: 100vh) {
    .Shit {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 25vh auto;
    }
}

.Big-logo {
    margin: 10% auto 8% auto;
    height: 17.5%;
    background-image: url("../../Assets/BIG_LOGO.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media screen and (max-width: 165vh) {
    .Big-logo {
        height: 12%;
        margin: 20% auto 8% auto;
    }
}

@media screen and (max-width: 100vh) {
    .Big-logo {
        position: absolute;
        top: 10vh;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

span {
    color: rgb(201, 172, 152);
    margin: 0 1vh;
}

img {
    margin: 10%;
    max-width: 100%;
}

nav {
    margin: 20% 10% 10% 10%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: space-around;
}

@media screen and (max-width: 100vh) {
    nav {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        margin: auto auto;
    }
}

footer {
    margin: 35% 10% 5% 10%;
}

@media screen and (max-width: 100vh) {
    footer {
        position: absolute;
        bottom: 5vh;
        width: 100%;
        margin: 0;
    }
}

footer p {
    font-size: 2.9vh;
}

.insta {
    background-image: url("../../Assets/Instagram.svg");
}

.pho {
    background-image: url("../../Assets/Phone.svg");
}

@media screen and (min-width: 100vh) {
    .insta:hover {
        background-image: url("../../Assets/Instagram-filled.svg");
    }

    .pho:hover {
        background-image: url("../../Assets/Phone-filled.svg");
    }
}

@media screen and (max-width: 100vh) {
    .insta:active {
        background-image: url("../../Assets/Instagram-filled.svg");
    }

    .pho:active {
        background-image: url("../../Assets/Phone-filled.svg");
    }
}

.insta,
.pho {
    height: 4.5vh;
    width: 4.5vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    margin-right: 5%;
}

.pho-text,
.insta-text {
    height: fit-content;
    align-self: center;
}

.phone,
.instagram {
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-family: Lato, sans-serif;
    font-weight: 600;
}

.phone a,
.instagram a {
    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration: none;
    color: var(--main-yellow);
}

.Home-button,
.Price-button,
.Gallery-button,
.Contact-button {
    margin: 0 auto;
    width: fit-content;
    position: relative;
    font-family: Lato, sans-serif;
    font-weight: 600;
    letter-spacing: 0.1vh;
    font-size: 3.8vh;
    cursor: pointer;
}

.Home-button::before,
.Price-button::before,
.Gallery-button::before,
.Contact-button::before {
    visibility: hidden;
    content: "";
    position: absolute;
    width: 0;
    bottom: -1vh;
    left: 50%;
    height: 0.1vh;
    border: 0.1vh solid #cfb53c;
    background-color: #cfb53c;
    transition: 0.3s linear;
}

.Home-button:hover::before,
.Price-button:hover::before,
.Gallery-button:hover::before,
.Contact-button:hover::before {
    visibility: visible;
    left: 0;
    width: 100%;
}

/* TABLET AND MOBILE TOGETHER */
#Hamburger {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.Upper-bar,
.Middle-bar,
.Lower-bar {
    width: calc(100% - 0.2vh);
    height: calc(18% - 0.2vh);
    background-color: var(--main-yellow);
}

.Upper-bar {
}

.Middle-bar {
}

.Lower-bar {
}

/* TABLET */
#Tablet-hamburger-button {
    position: fixed;
    top: 3vh;
    left: 3vh;
    z-index: 4;
    height: 5vh;
    width: 5vh;
}

/* MOBILE */
#Mobile-haburger-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    z-index: 3;
    background-color: var(--main-black);
}

.Big-logo-mobile {
    margin: 1vh 2vh;
    height: 8vh;
    width: auto;
    background-image: url("../../Assets/BIG_LOGO.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.Mobile-hamburger-container {
    position: fixed;
    height: 5vh;
    width: 5vh;
    z-index: 4;
    top: 2.1vh;
    right: 2.1vh;
}

/* ANIMATIONS */
/** HAMBURGER ANIMATIONS **/
@keyframes Decline {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(45deg) translateY(1.4vh) translateX(1.6vh);
    }
}

@keyframes Reverse-decline {
    from {
        transform: rotate(45deg) translateY(1.4vh) translateX(1.6vh);
    }
    to {
        transform: rotate(0);
    }
}

@keyframes Go-right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(80%);
        opacity: 0;
    }
}

@keyframes Go-left {
    from {
        transform: translateX(80%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
    }
}

@keyframes Incline {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-45deg) translateY(-1.4vh) translateX(1.6vh);
    }
}

@keyframes Reverse-incline {
    from {
        transform: rotate(-45deg) translateY(-1.4vh) translateX(1.6vh);
    }
    to {
        transform: rotate(0);
    }
}

/** MENU ANIMATIONS **/
@keyframes Slide-menu-right {
    from {
        transform: translateX(-100%);
    }
    to {
        display: block;
        transform: translateX(0);
    }
}

@keyframes Slide-menu-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
        display: none;
    }
}

@keyframes Slide-mobile-menu-left {
    from {
        transform: translateX(100%);
    }
    to {
        display: block;
        transform: translateX(0);
    }
}

@keyframes Slide-mobile-menu-right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
        display: none;
    }
}
