.Cover-photo-contact {
    cursor: pointer;
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../../../Assets/Gallery/flag_truck.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: Slide-up-cover 1s ease 0.2s 1 normal forwards;
    transform: scale(1.15);
}

@media screen and (max-width: 100vh) {
    .Cover-photo-contact {
        cursor: none;
        animation: none;
        transform: none;
        background-position-y: none;
        background-size: stretch;
        background-position: center;
        width: 100%;
        height: 32vh;
        top: 10vh;
        z-index: 1;
    }
}

.Contact-big-container {
    position: absolute;
    bottom: 0;
    z-index: 2;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    padding: 0 1%;
    color: var(--main-yellow);
    background-color: var(--main-black);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 2fr 3fr 1.5fr 10fr;
    height: 60vh;
    width: 98%;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    animation: Slide-up 1s ease 0.2s 1 normal forwards;
    transform: translateY(60vh);
}

@media screen and (max-width: 100vh) {
    .Contact-big-container {
        padding: 0 2.5%;
        width: 95%;
        animation: none;
        transform: none;
        position: relative;
        top: 40vh;
        height: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 5fr 6fr;
        grid-template-columns: 1fr;
    }
}

.Contact-big-container p,
.Contact-big-container h4 {
    word-break: unset;
}

@keyframes Slide-up {
    0% {
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes Slide-up-cover {
    0% {
    }
    100% {
        height: 42vh;
    }
}

.Contact-big-container div {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: calc(100% - 1.3vh);
    padding: 0 0.5vh;
    line-height: 1.3;
    text-align: center;
    justify-self: center;
    align-self: center;
    justify-content: center;
    min-width: fit-content;
}

@media screen and (max-width: 100vh) {
    .Contact-big-container div {
        grid-column: 1;
        width: 70%;
    }
}

.Contact-big-container div p {
    font-weight: 500;
    font-size: 1.6vh;
    align-self: center;
}

.Contact-big-container div a {
    text-decoration: none;
    color: var(--main-yellow);
}

.Contact-big-container h4 {
    font-size: 2vh;
    font-weight: bold;
    line-height: 1.5;
    align-self: center;
}

@media screen and (max-width: 100vh) {
    .Contact-big-container div p {
        font-size: 2vh;
    }

    .Contact-big-container h4 {
        font-size: 2.2vh;
    }
}

.Contact-heading {
    text-align: center;
    position: relative;
    grid-row: 1;
    grid-column: 1 / span 10;
    font-size: 3.8vh;
    font-weight: bold;
    color: var(--main-yellow);
    justify-self: center;
    align-self: flex-end;
}

@media screen and (max-width: 100vh) {
    .Contact-heading {
        grid-row: auto;
        grid-column: 1;
    }
}

.Contact-heading::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -1vh;
    left: 0;
    height: 0.1vh;
    border: 0.1vh solid #cfb53c;
    background-color: #cfb53c;
}

.Contact-description {
    font-size: 2vh;
    grid-row: 2;
    grid-column: 1 / span 10;
    text-align: center;
    justify-self: center;
    align-self: center;
}

@media screen and (max-width: 100vh) {
    .Contact-description {
        margin-top: 3vh;
        grid-row: auto;
        grid-column: 1;
    }
}

.Second-div {
    border-left: 0.2vh solid var(--main-yellow);
}

.Third-div {
    border-left: 0.2vh solid var(--main-yellow);
    border-right: 0.2vh solid var(--main-yellow);
}

@media screen and (max-width: 100vh) {
    .Second-div {
        border-top: 0.2vh solid var(--main-yellow);
        border-left: none;
    }

    .Third-div {
        border-top: 0.2vh solid var(--main-yellow);
        border-bottom: 0.2vh solid var(--main-yellow);
        border-left: none;
        border-right: none;
    }
}

.Contact-big-container .Map {
    grid-column: 6 / span 5;
    grid-row: 4;
    position: static;
    flex-direction: column-reverse;
}

@media screen and (max-width: 100vh) {
    .Contact-big-container .Map {
        margin: 0;
        grid-row: auto;
        grid-column: 1;
        width: 100%;
        flex-direction: column;
        margin: 1vh 0;
    }
}

.Contact-big-container .Map p {
    font-size: 2vh;
    font-style: italic;
    font-weight: normal;
    color: var(--main-yellow);
    margin: 1.5vh 0 2vh 0;
    letter-spacing: 0;
}

@media screen and (max-width: 100vh) {
    .Contact-big-container .Map p {
        font-style: normal;
        font-size: 2.5vh;
        text-decoration: underline;
        margin: 5vh 0 0 0;
    }
}

.Contact-big-container .Map-image {
    cursor: zoom-in;
    margin-top: 4vh;
    height: 80%;
    width: 80%;
    background-image: url("../../../Assets/TransparentMapa.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: var(--main-black);
}

@media screen and (max-width: 100vh) {
    .Contact-big-container .Map-image {
        height: 70%;
        width: 95%;
        cursor: unset;
        margin-bottom: 0;        
        margin: 1vh 0;
    }
}

@media screen and (min-width: 100vh) {
    .Contact-big-container .Map-image:active {
        border: 0.5vh solid var(--main-yellow);
        position: absolute;
        padding: 1vh;
        margin: 0;
        height: calc(100% - 3vh);
        width: calc(100% - 3vh);
        right: 0;
        bottom: 0;
        z-index: 1;
    }
}
